<launch>
  <group ns="crowd_navigation_core">
      <node pkg="crowd_navigation_core" type="camera_perception" name="camera_perception" output="screen" />
      <node pkg="crowd_navigation_core" type="laser_perception" name="laser_perception" output="screen" />
      <node pkg="crowd_navigation_core" type="crowd_prediction" name="crowd_prediction" output="screen" />
      <node pkg="crowd_navigation_core" type="motion_generation" name="motion_generation" output="screen" />
  </group>
</launch>