<launch>
  <arg name="x_des" default="0.0" />
  <arg name="y_des" default="0.0" />


  <param name="x_des" value="$(arg x_des)" />
  <param name="y_des" value="$(arg y_des)" />

  <group ns="crowd_navigation_core">
      <node pkg="crowd_navigation_core" type="send_desired_target_position" name="send_desired_target_position" output="screen" />
  </group>
</launch>